@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
</head>
<body>
<div>
    <label>Login</label><br />
    <input type="text" id="login" /> <br /><br />
    <label>Email</label><br />
    <input type="text" id="email" /> <br /><br />
    <label>Password</label><br/>
    <input type="password" id="password"/><br/><br/>
    <label>Confirm password</label><br/>
    <input type="password" id="confirmpassword"/><br/><br/>
    <input type="submit" id="submit" value="Registration"/>
</div>
 

<div class="userInfo" style="display:none;">
    <p>You logged as: <span class="userName"></span></p>
    <input type="button" value="Exit" id="logOut" />
</div>
<div class="loginForm">
    <h3>Sing Up</h3>
    <label>Enter Login</label><br />
    <input type="text" id="userLogin" /> <br /><br />
    <label>Enter password</label><br />
    <input type="password" id="userPassword" /><br /><br />
    <input type="submit" id="submitLogin" value="Login" />
</div>

<div>
    <input type="submit" id="getItemsButton" value="Получить данные" />
</div>

<script type="text/javascript">
    $(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var user = {
                Email: $('#email').val(),
                UserName: $('#login').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirmpassword').val()
            };
            $.ajax({
                url: '/api/account/register',
                type: 'Post',
                data: user
            }).success(function (data) {
                alert("Registration Finished");
            }).fail(function (data) {
                alert("Registration Faled" + data);
            });           
        });


        var tokenKey = "tokenInfo";
        $('#submitLogin').click(function (e) {
            e.preventDefault();
            var loginData = {
                grant_type: 'password',
                username: $('#userLogin').val(),
                password: $('#userPassword').val()
            };
 
            $.ajax({
                type: 'POST',
                url: '/Token',
                data: loginData
            }).success(function (data) {
                $('.userName').text(data.userName);
                $('.userInfo').css('display', 'block');
                $('.loginForm').css('display', 'none');                
                sessionStorage.setItem(tokenKey, data.access_token);
                var token = sessionStorage.getItem(tokenKey);
                console.log(token);
            }).fail(function (data) {
                alert('At login there was an error');
            });
        });
 
        $('#logOut').click(function (e) {
            e.preventDefault();
            sessionStorage.removeItem(tokenKey);
        });

            $('#getItemsButton').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/api/product/getproducts',
                beforeSend: function (xhr) {
                     
                    var token = sessionStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function (data) {
                    console.log(data);
                },
                fail: function (data) {
                    alert(data);
                }
            });
        });

    })
</script>

</body>
</html>