@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
</head>
<body>
<div>
    <label>login</label><br />
    <input type="text" id="login" /> <br /><br />
    <label>Password</label><br/>
    <input type="password" id="password"/><br/><br/>
    <label>confirm password</label><br/>
    <input type="password" id="confirmpassword"/><br/><br/>
    <input type="submit" id="submit" value="Регистрация"/>
</div>
 
<script type="text/javascript">
    $(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var user = {
                UserName: $('#login').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirmpassword').val()
            };

            console.log(user);

            $.ajax({
                url: '/api/account/adduser',
                type: 'Post',
                data: user
            }).success(function (data) {
                alert("Регистрация пройдена" + data);
            }).fail(function (data) {
                alert("В процесе регистрации возникла ошибка" + data);
            });

            //$.ajax({
            //    url: 'api/account/register',
            //    type: 'Post',
            //    data: user
            //});
        });
    })
</script>

</body>
</html>